select {
  margin: 0 2;
}
#date_now {
  font-size: 20;
  text-align: center;
}
.year_statistic {
  text-align: center;
  font-size: 18;
  color: blue;
  background-color: yellow;
}
#zen_x_red a {
  margin: 5;
  float: right
}
.year_statistic td {
  text-align: center;
  font-size: 18;
  color: blue;
  background-color: yellow;
}
#toolbar {
  background-color: #CDC9A5;
  padding: 0px 0px 0px 0px;
}
#tableTooBar {
  margin: 0px; padding: 1px;
}
#date_now {
  color: #556B2F;
  background-color: #EEE9BF;
}
#project_id { width: 300px; }
#id_period_month { width: 125px; }
#id_period_year { width: 80px; }