<div class="year_statistic">
  {% if params.statistic.hasYearlyPlan and params.statistic.yearlyplan.is_active %}
    {% if params.statistic.checkMonthYear %}
      {% if params.detail_view and not params.yearly_report%}
        <div>
          <table border="1" width="100%" rules="cols">
            <tr>
              <td>Plano mensal: {{params.statistic.plan_hours}}h</td>
              <td>Adicionais: {{params.statistic.hours_add}}h</td>
              <td>Total: {{params.statistic.total_hours}}h</td>
              <td>Estimado: {{params.statistic.estimated}}h</td>
              <td>Consumido: {{params.statistic.spent}}h</td>
              <td>Restante: {{params.statistic.remainder}}h</td>
            </tr>
          </table>
        </div>
      {% endif %}
    {% else %}
      <div>Parece que o plano para esse ano, não inclui esse mês.</div>
    {% endif %}

    {% if params.yearly_report %}
      <div>
        <table border="1" width="100%" rules="cols">
          <tr>
            <td>Plano anual: {{params.statistic.yearly_hours}}h</td>
			<td>Adicionais: {{params.statistic.yearly_extra}}h</td>
			<td>Total: {{params.statistic.yearly_total_hours}}h</td>
            <td>Consumido: {{params.statistic.yearly_spent}}h</td>
            <td>Restante: {{params.statistic.yearly_remainder}}h</td>
          </tr>
        </table>
      </div>
    {% endif %}
  {% else %}
    {% if params.searching %}
      <div>Não há um plano anual, cadastrado(ativo) para está data(mês e/ou ano).</div>
    {% endif %}
  {% endif %}
</div>