<html>
  <head>
    <title>Escolha uma opção</title>
    <style>
      a {
        font-size: 30;
        margin: 0 50;
      }
      #center_id {
        width: 100%;
        height: 100%;
        background-color: #669999;
      }
      #inline_center_id {
        padding: 25;
        margin: 0 auto;
        padx: 25;
        text-align: center;
      }
    </style>
  </head>
  <body>
    <div id="center_id">
      <div id="inline_center_id">
        <a href="{% url viewer.zenapp.views.index %}">Zendesk</a>
        <a href="{% url viewer.redapp.views.index %}">Redmine</a>
      </div>
    </div>
  </body>
</html>