<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" >
    <title>{{title}}</title>
    <style type="text/css">
      @import "/static/media/css/demo_table.css";
	  @import "/static/media/css/sunny/jquery-ui-1.8.23.custom.css";
	  select {
		margin: 0 2;
	  }
	  #date_now {
		font-size: 20;
		text-align: center;
	  }
	  .year_statistic {
		text-align: center;
		font-size: 18;
		color: blue;
		background-color: yellow;
	  }
	  #zen_x_red {
		float: right;
		margin-right: 5;
	  }
	  #zen_x_red a {
		margin: 5;
	  }
	  .year_statistic td {
		text-align: center;
		font-size: 18;
		color: blue;
		background-color: yellow;
	  }
	  #toolbar {
		background-color: #CDC9A5;
		padding: 0px 0px 0px 0px;
	  }
	  #form_toolbar {
		margin: 1px; padding: 10px;
	  }
	  #date_now {
		color: #556B2F;
		background-color: #EEE9BF;
	  }
    </style>
    <script type="text/javascript" src="/static/media/js/jquery.js"></script>
    <script type="text/javascript" src="/static/media/js/jquery.dataTables.js"></script>
    <script type="text/javascript" src="/static/media/js/dateTables.plugins.js"></script>
    <script type="text/javascript">
    $(document).ready(function() {
		var oTable = $('#list_table').dataTable({
			"oLanguage": {
			"sUrl": "/static/media/js/dataTable.oLanguage.txt"
			},
			"bJQueryUI": true,
			"aLengthMenu": [[25, 50, 100, -1], [25, 50, 100, "Todos"]],
			"bAutoWidth": false,
			"bStateSave": true,
			"iDisplayLength": 25,

			"aoColumns": [
			{% for header in  headers %}
			  {"sTitle": "{{ header }}", "sClass":{% ifequal header "Assunto" %}"left"{% else %}"center"{% endifequal %} },
			{% endfor %}
			],

			"aaData": [
			{% for slist in rlist %} [
			  {% for item in slist %}
				{% if item.link and item.label %}'<a href="{{item.link}}" target="_blank">{{item.label}}</a>'
				{% else %}"{{ item }}"{% endif %},
			  {% endfor %}],
			{% endfor %}]
			});

			var report = new function() {
			  this.nsp = {
				check_status: function() {
				  var totalHours = parseFloat("{{params.statistic.total_hours}}".replace(",","."))
				  var yearlyRemainder = parseFloat("{{params.statistic.yearly_remainder}}".replace(",","."))
				  var monthlyRemainder = parseFloat("{{params.statistic.remainder}}".replace(",","."))
				  var yearlyActive = "{{params.statistic.yearlyplan.is_active}}"
				  var monthValid = "{{params.statistic.checkMonthYear}}"
				  var yearlyReport = parseInt("{{params.yearly_report}}")
				  var message = ""
				  
				  if (yearlyActive == "True") {
					if ( yearlyReport ) {
					  if (yearlyRemainder < 0.0) message = "O máximo de horas para o 'plano anual' foi excedido.";
					  if (yearlyRemainder == 0.0) message = "O máximo de horas para o 'plano anual' foi alcançado.";
					} else {
					  if (monthlyRemainder < 0.0) message = "O máximo de horas para o 'plano mensal' já foi excedido.";
					  if (monthlyRemainder == 0.0) message = "O máximo de horas para o 'plano mensal' já foi alcançado.";
					  
					  if (totalHours <= 0.0 && monthValid == "True") {
						message = "O total de horas para esse mês é menor ou igual a zero."
						message += "\n  Contate o administrado para resolver o problema."
					  }
					}
					if ( message ) alert( message );
				  }
				},
				// desativa um objeto(element), marcando o checkbox alvo.
				disable : function(element_id, checkbox) {
				  if (element_id[0] != "#") element_id = "#"+element_id
				  var object = $( element_id );
				  if ($( checkbox ).is(":checked")) {
					object.attr('disabled', 'disabled');
				  } else {
					object.removeAttr('disabled');
				  }
				},
				init: function() {
				  var _this = this;
				  var checkbox = $("#yearly_report");
				  
				  checkbox.click(function() {
					_this.disable("id_period_month", this);
				  });
				  
				  this.disable("id_period_month", checkbox);
				  // faz a verifiação dos dados do relatório.
				  setTimeout(this.check_status, 1000);
				}
			  }
			}
		report.nsp.init();
		});
  </script>
</head>

<body>
  <div id="toolbar">
    <form name="form_toolbar" id="form_toolbar" action="" method="get" accept-charset="utf-8">
      <label for="project_id">Projetos:</label>
      <select name="project_id" id="project_id"/>
        {% for key, value in projects %}
          <option value="{{key}}" {% if params.project_id_selected == key %} selected="selected"{% endif %}>{{value}}</option>
        {% endfor %}
      </select>
      Periodo: {% for field in dateInputForm %}{{ field }}{% endfor %}
      <label for="yearly_report">Ano completo:</label><input type="checkbox" id="yearly_report" name="yearly_report" value="1" {% if params.yearly_report %}checked{%endif%}/>
      <label for="detail_view">Com detalhes:</label><input type="checkbox" id="detail_view" name="detail_view" value="1" {% if params.detail_view %}checked{%endif%}/>
      <input type="submit" value="Pesquisar"/>
      <div id="zen_x_red">
        <a href="{% url viewer.zenapp.views.report_load %}">Zendesk</a>
        <a href="{% url viewer.redapp.views.report_load %}">Redmine</a>
      </div>
    </form>
  </div>

  <div id="date_now"><b>{{date_now}}</b></div>
  
  {% include "top_msg.html" %}
  <div id="viewer_table"><table cellpadding="0" cellspacing="0" border="0" class="display" id="list_table"></table></div>
  {% include "bottom_msg.html" %}
</body>
</html>

