<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" >
    <title>{{widgetTitle}}</title>
    <style type="text/css" title="currentStyle">
      @import "/static/media/css/demo_page.css";
      @import "/static/media/css/demo_table.css";
      select {
        margin: 0 2;
      }
      #date_now {
        font-size: 20;
        text-align: center;
      }
      .year_statistic {
        text-align: center;
        font-size: 18;
        color: blue;
        background-color: yellow;
      }
      #zen_x_red {
        float: right;
		margin-right: 5;
      }
	  td {
		text-align: center;
	  }
    </style>
    <script type="text/javascript" src="/static/media/js/jquery.js"> </script>
    <script type="text/javascript" src="/static/media/js/jquery.dataTables.js"> </script>
</head>
<body>
  <div id="toolbar">
    <form name="input" action="" method="get" accept-charset="utf-8">
      Projetos:
        <select name="project_id"/>
          {% for key, value in projects %}
            {% if html.project_id_selected == key %}
              <option selected="selected" value="{{key}}">{{value}}</option>
            {% else %}
              <option value="{{key}}">{{value}}</option>
            {% endif %}
          {% endfor %}
        </select>
      Periodo: {% for field in dateInputForm %}{{ field }}{% endfor %}
      Ano completo: <input type="checkbox" id="yearly_report" name="yearly_report" value="1" {% if html.year_check %}checked{%endif%}/>
      Com detalhes: <input type="checkbox" id="detail_view" name="detail_view" value="1" {% if html.detail_check %}checked{%endif%}/>
      <input type="submit" value="Pesquisar"/>
    
      <div id="zen_x_red">
        <a href="{% url viewer.zenapp.views.report_load %}">Zendesk</a>&nbsp;
        <a href="{% url viewer.redapp.views.report_load %}">Redmine</a>
      </div>
    
    </form>
    
  </div>
  <div id="date_now"><b>{{date_now}}</b></div>
  
  {% if meta_year.active %}
    <div class="year_statistic"><b>
    <div>
        {% if meta_month.active and not meta_year.active %}
		<table border="1" width="100%" rules="cols">
			<tr>
				<td>Plano mensal: {{meta_month.statistic.plan_hours}}h</td>
				<td>Adicionais: {{meta_month.statistic.hours_add}}h</td>
				<td>Total: {{meta_month.statistic.total_hours}}h</td>
				<td>Estimado: {{meta_month.statistic.estimated}}h</td>
				<td>Consumido: {{meta_month.statistic.spent}}h</td>
				<td>Restante: {{meta_month.statistic.remainder}}h</td>
			</tr>
		</table>
        {% endif %}
    </div>
    <div>
		<table border="1" width="100%" rules="cols">
			<tr>
				<td>Plano anual: {{meta_year.statistic.yearly_hours}}h</td>
				{% if meta_year.active %}
					<td>Consumido: {{meta_year.statistic.yearly_spent}}h</td>
					<td>Restante: {{meta_year.statistic.yearly_remainder}}h</td>
				{% endif %}
			</tr>
		</table>
    </div>
    </b></div>
  {% endif %}
  
  <div id="viewer_table"></div>
  
  <script type="text/javascript">
  $(document).ready(function() {
    $('#viewer_table').html('<table cellpadding="0" cellspacing="0" border="0" class="display" id="list_table"></table>');
    var oTable = $('#list_table').dataTable({
      "oLanguage": {
        "sProcessing":   "Processando...",
        "sLengthMenu":   "Mostrar _MENU_ registros",
        "sZeroRecords":  "Não foram encontrados resultados",
        "sInfo":         "Mostrando de _START_ até _END_ de _TOTAL_ registros",
        "sInfoEmpty":    "Mostrando de 0 até 0 de 0 registros",
        "sInfoFiltered": "(filtrado de _MAX_ registros no total)",
        "sInfoPostFix":  "",
        "sSearch":       "Buscar:",
        "sUrl":          "",
        "oPaginate": {
          "sFirst":    "Primeiro",
          "sPrevious": "Anterior",
          "sNext":     "Seguinte",
          "sLast":     "Último"
        }
      },
      "aoColumnDefs": [
        { "sClass": "left", "aTargets": [2] }
      ],
      "bAutoWidth": false,
      "bStateSave": true,
      "iDisplayLength": 25,
      "aLengthMenu": [[25, 50, 100, -1], [25, 50, 100, "Todos"]],
      
      "aoColumns": [
        {% for header in  headers %}
          {"sTitle": "{{ header }}", "sClass":{% ifequal header "Assunto" %}"left"{% else %}"center"{% endifequal %} },
        {% endfor %}
      ],
      "aaData": [
        {% for slist in rlist %} [
          {% for item in slist %} "{{ item }}",
          {% endfor %}],
        {% endfor %}]
    });
    var report = new function() {
		this.nsp = {
			// desativa um objeto(element), marcando o checkbox alvo.
			disable : function(element_id, checkbox) {
				if (element_id[0] != "#") element_id = "#"+element_id
				var object = $( element_id );
				if ($( checkbox ).is(":checked")) {
					object.attr('disabled', 'disabled');
				} else {
					object.removeAttr('disabled');
				}
			},
			init: function() {
				var self = this;
				var checkbox = $("#yearly_report");
				checkbox.click(function () {
					self.disable("id_period_month", this);
				});
				this.disable("id_period_month", checkbox);
			}
		}
	}
	report.nsp.init();
  });
  </script>
    <br/>
    <div class="year_statistic"><b>
		<div>
		{% if meta_month.active and not meta_year.active %}
			<table border="1" width="100%" rules="cols">
				<tr>
					<td>Plano mensal: {{meta_month.statistic.plan_hours}}h</td>
					<td>Adicionais: {{meta_month.statistic.hours_add}}h</td>
					<td>Total: {{meta_month.statistic.total_hours}}h</td>
					<td>Estimado: {{meta_month.statistic.estimated}}h</td>
					<td>Consumido: {{meta_month.statistic.spent}}h</td>
					<td>Restante: {{meta_month.statistic.remainder}}h</td>
				</tr>
			</table>
		{% endif %}
		</div>
		{% if meta_year.statistic.yearly_hours or meta_year.active %}
			<div>
				<table border="1" width="100%" rules="cols">
					<tr>
						{% if meta_year.statistic.yearly_hours %}
							<td>Plano anual: {{meta_year.statistic.yearly_hours}}h</td>
						{% endif %}
						{% if meta_year.active %}
							<td>Consumido: {{meta_year.statistic.yearly_spent}}h</td>
							<td>Restante: {{meta_year.statistic.yearly_remainder}}h</td>
						{% endif %}
					</tr>
				</table>
			</div>
		{% endif %}
	</b></div>
  </body>
</html>

